{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
	Articles
{% endblock %}

{% block body %}
    <section>
        <div class="page-head">
            <img src="./assets/article-banner.png" class="img-fluid" alt="missing">
            <h2>Articles</h2>
        </div>
    </section>
{% endblock %}