{% extends "base.html.twig" %}

{% block title %}
    {{ parent() }}
	Proposals
{% endblock %}

{% block body %}
    <section>
        <h1 class="proposal-title">Proposals :</h1>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <p class"align-items-center">Proposed by : <strong>0x5e9f2403e356a45b5bb5c54...</strong><span class="badge bg-success text-light ms-4">Open</span></p>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bitcoin taproot</h5>
                    <p class="card-text">Bitcoin taproot is an update of the bitcoin network wich allowed to...</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}