{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Home
{% endblock %}

{% block body %}
    <section>
        <div class="container mt-4">
            <h1 class="title justify-content">Welcome in Liblock, the first information-sharing platform build with
                core web3 values</h1>
            <h3 class="mt-4">Begin your blockchain and web3 journey with us!</h3>
            <p><a class="link-info mt-2" href="#articles">Start exploring</a></p>
        </div>
        <div class="container">
            <hr>
            <hr class="solid">
        </div>
    </section>
    <section>
        <div class="container">
            <div class="d-flex align-items-center">
                <h4>Last articles :</h4>
                <a class="link-info ms-2" href="#">View all</a>
            </div>
            <div class="d-flex mt-4">
                <ul class="pagination justify-content-center align-items-center">
                    <li class="page-item"><a class="page-link" href="#"><</a>
                    </li>
                    <div class="col-3 ms-4 card">
                        <img src="./assets/logo-black.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Arbitrum TVL</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                    <div class="col-3 ms-4 card">
                        <img src="./assets/logo-color.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ZkProof technology</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                    <div class="col-3 ms-4 card">
                        <img src="./assets/logo-white.svg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Optimistic rollup</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Read</a>
                        </div>
                    </div>
                    <li class="page-item ms-4"><a class="page-link" href="#">></a></li>
                </ul>
            </div>
        </div>
        <div class="container">
            <hr class="solid">
            <hr>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="d-flex align-items-center">
                <h4>Deliberating articles :</h4>
                <a class="link-info ms-2" href="#">View all</a>
            </div>
            <div class="justify-content-center row mt-4">
                <div class="card ms-4 col-md-3 mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Ethereum MEV</h4>
                        <p class="card-text">Proposer : 0x6b...96a1</p>
                        <div class="progress">
                            <div class="progress-bar-striped bg-success" style="width:5%"></div>
                            <div class="progress-bar-striped bg-warning" style="width:5%"></div>
                            <div class="progress-bar-striped bg-danger" style="width:90%"></div>
                        </div>
                        <a href="#" class="card-link">Visit</a>
                    </div>
                </div>
                <div class="card ms-4 col-md-3 mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Cosmos tendermint</h4>
                        <p class="card-text">Proposer : 0xaa...b6d0</p>
                        <div class="progress">
                            <div class="progress-bar-striped bg-success" style="width:85%"></div>
                            <div class="progress-bar-striped bg-warning" style="width:2%"></div>
                            <div class="progress-bar-striped bg-danger" style="width:13%"></div>
                        </div>
                        <a href="#" class="card-link">Visit</a>
                    </div>
                </div>
                <div class="card ms-4 col-md-3 mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Bitcoin PoW</h4>
                        <p class="card-text">Proposer : 0x29...aed3</p>
                        <div class="progress">
                            <div class="progress-bar-striped bg-success" style="width:60%"></div>
                            <div class="progress-bar-striped bg-warning" style="width:10%"></div>
                            <div class="progress-bar-striped bg-danger" style="width:30%"></div>
                        </div>
                        <a href="#" class="card-link">Visit</a>
                    </div>
                </div>
                <div class="card ms-4 col-md-3 mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Flux PoUW</h4>
                        <p class="card-text">Proposer : 0x8b...a161</p>
                        <div class="progress">
                            <div class="progress-bar-striped bg-success" style="width:70%"></div>
                            <div class="progress-bar-striped bg-warning" style="width:5%"></div>
                            <div class="progress-bar-striped bg-danger" style="width:25%"></div>
                        </div>
                        <a href="#" class="card-link">Visit</a>
                    </div>
                </div>
                <div class="card ms-4 col-md-3 mt-2">
                    <div class="card-body">
                        <h5 class="card-title">Kadena graph model</h4>
                        <p class="card-text">Proposer : 0x4f...a9d1</p>
                        <div class="progress">
                            <div class="progress-bar-striped bg-success" style="width:35%"></div>
                            <div class="progress-bar-striped bg-warning" style="width:25%"></div>
                            <div class="progress-bar-striped bg-danger" style="width:44%"></div>
                        </div>
                        <a href="#" class="card-link">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <hr>
            <hr class="solid">
        </div>
    </section>
    <section>
        <div class="container">
            <div class="d-flex align-items-center">
                <h4>Discover per theme :</h4>
            </div>
            <div class="theme-section">
                <h5>Blockchain :</h5>
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill"><span class="badge bg-primary text-light">Ethereum <span class="badge bg-dark text-light">16</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-warning text-light">Bitcoin <span class="badge bg-dark text-light">31</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">ZkSync <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Base <span class="badge bg-dark text-light">6</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Aurora <span class="badge bg-dark text-light">5</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Gnosis <span class="badge bg-dark text-light">3</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Avalanche <span class="badge bg-dark text-light">11</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">Polygon <span class="badge bg-dark text-light">17</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-dark text-light">Axelar <span class="badge bg-dark text-light">9</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Optimism <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Arbitrum <span class="badge bg-dark text-light">21</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-warning text-light">Binance smart chain <span class="badge bg-dark text-light">10</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-primary text-light">Phantom <span class="badge bg-dark text-light">7</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Kadena <span class="badge bg-dark text-light">7</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Flux <span class="badge bg-dark text-light">8</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">Scroll <span class="badge bg-dark text-light">4</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Zetachain <span class="badge bg-dark text-light">11</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Polkadot <span class="badge bg-dark text-light">24</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">Cosmos <span class="badge bg-dark text-light">17</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-primary text-light">Solana <span class="badge bg-dark text-light">63</span></span></div>
                </div>
                <h5>Technology :</h5>
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Proof of useful work <span class="badge bg-dark text-light">5</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-warning text-light">Proof of work <span class="badge bg-dark text-light">31</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Cross-chain messaging <span class="badge bg-dark text-light">21</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">Delegated proof of stake <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Proof of history <span class="badge bg-dark text-light">6</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">MEV <span class="badge bg-dark text-light">3</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-primary text-light">Proof of stake <span class="badge bg-dark text-light">16</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Graph <span class="badge bg-dark text-light">11</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-dark text-light">Tendermint <span class="badge bg-dark text-light">9</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">SHA256 <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">ZkProofs <span class="badge bg-dark text-light">17</span></span></div>
                </div>
                <h5>Dapps / DAO :</h5>
                <div class="d-flex flex-wrap">
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Uniswap <span class="badge bg-dark text-light">5</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-warning text-light">Stargate Finance <span class="badge bg-dark text-light">31</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Galxe <span class="badge bg-dark text-light">21</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">BitDAO <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-dark text-light">Balancer <span class="badge bg-dark text-light">9</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Optimism <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">ENS <span class="badge bg-dark text-light">21</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Pocket Network <span class="badge bg-dark text-light">21</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-warning text-light">Sushi <span class="badge bg-dark text-light">10</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-primary text-light">MakerDAO <span class="badge bg-dark text-light">7</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Frax Finance <span class="badge bg-dark text-light">7</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Olympus <span class="badge bg-dark text-light">8</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">Decentraland <span class="badge bg-dark text-light">4</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Cosmos <span class="badge bg-dark text-light">11</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Lido <span class="badge bg-dark text-light">6</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Aave <span class="badge bg-dark text-light">3</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-primary text-light">Compound <span class="badge bg-dark text-light">16</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">The Graph <span class="badge bg-dark text-light">11</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-primary text-light">Synthetix <span class="badge bg-dark text-light">16</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-warning text-light">SafeDAO <span class="badge bg-dark text-light">31</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">1inch <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Osmosis <span class="badge bg-dark text-light">6</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">StarkNet <span class="badge bg-dark text-light">5</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Gnosis <span class="badge bg-dark text-light">3</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Yearn Finance <span class="badge bg-dark text-light">11</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">Polygon <span class="badge bg-dark text-light">17</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-dark text-light">Alchemist <span class="badge bg-dark text-light">9</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">Bancor <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Immutable X <span class="badge bg-dark text-light">6</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-success text-light">Near <span class="badge bg-dark text-light">3</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-primary text-light">Synapse <span class="badge bg-dark text-light">16</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Polkadot <span class="badge bg-dark text-light">11</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Reflexer Finance <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-info text-light">Arbitrum <span class="badge bg-dark text-light">21</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-dark text-light">dYdX <span class="badge bg-dark text-light">9</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-danger text-light">Gitcoin <span class="badge bg-dark text-light">13</span></span></div>
                    <div class="p-2 flex-fill"><span class="badge bg-secondary text-light">PoolTogether <span class="badge bg-dark text-light">17</span></span></div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}