<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="text-center text-lg-start" style="background-color: #db6930;">
	<!-- Copyright -->
	<div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
		© 2023 Copyright:
		<a class="text-white" href="https://github.com/NashiroDev">Nathan Pauchon</a>
	</div>
	<!-- Copyright -->
</footer>
