<!-- Remove the container if you want to extend the Footer to full width. -->
<footer class="text-center text-lg-start bg-secondary">
	<!-- Copyright -->
	<div class="text-center text-white p-3 text-light">
		© 2023 Copyright:
		<a class="text-white" href="https://github.com/NashiroDev">Nathan Pauchon</a>
	</div>
	<!-- Copyright -->
</footer>
